Repository aurorusidk/starling, pull requests merged in 2024-08, with the labels that each got.

#23 Merge generic testing (#15)
  src/python/cmd.py
  test/test_ir.py
  test/test_lexer.py
  test/test_parser.py
Labels: new feature, testing

#24 Add IR translation stage
  .gitignore
  DESIGN.md
  grammar
  src/python/__main__.py
  src/python/ast_nodes.py
  src/python/builtin.py
  src/python/cmd.py
  src/python/compiler.py
  src/python/control_flows.py
  src/python/interpreter.py
  src/python/ir.py
  src/python/ir_nodes.py
  src/python/scope.py
  src/python/type_checker.py
  src/python/type_defs.py
  test/test_interpreter.py
  test/test_ir.py
  test/test_lexer.py
  test/test_parser.py
  test/test_type_checker.py
Labels: new feature, backend

#25 llvmcpy compiler
  src/python/cmd.py
  src/python/compiler.py
Labels: enhancement, compiler

#26 Add compiler
  .gitignore
  grammar
  src/python/__main__.py
  src/python/ast_nodes.py
  src/python/builtin.py
  src/python/cmd.py
  src/python/compiler.py
  src/python/control_flows.py
  src/python/interpreter.py
  src/python/ir.py
  src/python/ir_nodes.py
  src/python/scope.py
  src/python/type_checker.py
  src/python/type_defs.py
  test/test_compiler.py
  test/test_interpreter.py
  test/test_ir.py
  test/test_lexer.py
  test/test_parser.py
  test/test_type_checker.py
Labels: new feature, compiler, backend
